* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
}

.wrapper {
  background-color: #354041;
}
h1 {
  font-size: 2rem;
  align-self: baseline;
}

h2 {  
  font-size: 1.1rem;
  font-weight: 500;
}

h3 {
  font-size: .8rem;
  font-weight: 600;
}

h4 {
  font-size: .7rem;
  font-weight: 400;
}

.input-label {
  margin-left: .5rem;
  font-size: 1rem;
  font-weight: 400;
}

.input {
  padding: .5em;
  border-radius: 1rem;
  background-color: #b5bab8ea;
  box-shadow: 0 0 5px 2px #000101ee;
  border: none;

  &:focus {
    outline: none;
    border: none;
    background-color: #f7fefbea;
  }
}

.main-container {
  width: 90svw;
  height: 100vh;
  max-width: 1320px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto) 1fr;
}

.btn {
  min-width: 170px;
  max-width: 300px;
  padding: .5em .5em;
  height: 40px;
  text-decoration: none;
  text-align: center;
  border-radius: 1rem;
  margin-bottom: .5rem;
  background-color: #0280347c;
  font-size: 1.1rem;
  font-weight: 500;
  color: #fff;
  border: none;
  box-shadow: 0 0 5px 2px #002811dc;
  cursor: pointer;
  transition: all .15s ease;
  
  &:hover {
    background-color: #027d34ae;
  }

  &:active {
    background-color: #0b6e33ae;
  }
}


.save {
  background-color: #028034b4;

  &:hover {
    background-color: #01973dae;
  }

  &:active {
    background-color: #0b6e33ae;
  }

  &:focus {
    outline: none;
    border: none;
    background-color: #01973dae;
  }
}

.cancel {
  background-color: #ce0505cd;

  &:hover {
    background-color: #d80303cd;
  }

  &:active {
    background-color: #9f0202cd;
  }

  &:focus {
    outline: none;
    border: none;
    background-color: #d80303cd;
  }
}

.main-title {
  width: 100%;
  min-width: 400px;
  height: 60px;
  padding: .3em;
  background-color: #022d36;
  box-shadow: 0 0 5px 1px #00191e;
  border-radius: 0 0 1rem 0;
  font-size: 2rem;
  font-weight: 700;
  display: grid;
  grid-template-columns: auto 1fr;
  justify-items: center;
  align-items: center;
  grid-column: 1 / -1;
  grid-row: 1;
  z-index: 5;
}

.admin-title, .add-title {
  width: 100%;
  min-width: 400px;
  height: 60px;
  padding: .3em;
  background-color: #022d36;
  box-shadow: 0 0 5px 1px #00191e;
  border-radius: 0 0 1rem 0;
  text-align: center;
  grid-column: 1 / -1;
  grid-row: 1;
  z-index: 5;
}

.title {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
}

.sidebar {
  min-width: 190px;
  width: 100%;
  height: auto;
  padding: 3rem 1.8rem;
  text-align: center;
  background-color: #022d36a3;
  box-shadow: 0 0 5px 1px #00191e;
  border-radius: 0 0 1rem 1rem;
  grid-column: 1;
  grid-row: 2 / 3;

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 1em;
    font-size: 1.2rem;
    font-weight: 500; 
  }
  
  .list-object {
    color: #fff;
    transition: all .2s ease;
    cursor: pointer;
    padding: .5em;
    text-decoration: none;
  }

  .list-object:hover {
    color: #9d9f9f;
  }

  .active {
    color: #a5a4a4;
    transition: all .15s;
  }
}

.content-projects {
  width: 100%;
  height: 700px;
  grid-column: 2 / -1;
  grid-row: 2 / -1;
  padding: 1.5rem 0 1.5rem 1.5rem;
  display: grid;
  gap: 1.3rem;
  justify-items: right;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);

  .ongoing {
    width: 100%;
    height: 100%;
    min-width: 180px;
    grid-column: 1;
  }

  .not-started {
    width: 100%;
    height: 100%;
    min-width: 180px;
    grid-column: 2;
  }

  .completed {
    width: 100%;
    height: 100%;
    min-width: 180px;
    grid-column: 3;
  }
}
.content-employees {
  width: 100%;
  height: 700px;
  padding: 1.5rem 0 1.5rem 1.5rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 1.5rem;
  grid-column: 2 / -1;
  grid-row: 2 / -1;
}

.content-customers {
  width: 100%;
  height: 700px;
  padding: 1.5rem 0 1.5rem 1.5rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 1.5rem;
  grid-column: 2 / -1;
  grid-row: 2 / -1;
}

.content-project {
  width: 100%;
  height: 630px;
  padding: 1.5rem 0 0 1.5rem;
  grid-column: 2 / -1;
  grid-row: 2 / -1;

  .container {
    width: 100%;
    height: 500px;
    padding: 1.5rem;
    border-radius: 0 1rem 1rem 1rem;
    background-color: #2C2B2F;
    box-shadow: 0 0 5px 1px #000101a4;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }

  .name {
    grid-column: 1 / 4;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    gap: .5rem;

    .input {
      width: 100%;
      height: 30px;
    }
  }
  .description {
    grid-column: 1 / 4;
    grid-row: 2 / 7;
    display: flex;
    flex-direction: column;
    gap: .5rem;

    .input {
      width: 100%;
      height: 345px;
    }
  }
  .manager {
    grid-column: 4 / -1;
    grid-row: 5;
    display: flex;
    flex-direction: column;
    gap: .5rem;

    .input {
      width: 100%;
      height: 30px;
    }
  }

  .start-date {
    grid-column: 4;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    gap: .5rem;

    .input {
      width: 100%;
      height: 30px;
    }
  }
  .end-date {
    grid-column: 5;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    gap: .5rem;

    .input {
      width: 100%;
      height: 30px;
    }
  }

  .customer {
    grid-column: 4 / -1;
    grid-row: 4;
    display: flex;
    flex-direction: column;
    gap: .5rem;

    .input {
      width: 100%;
      height: 30px;
    }
  }

  .service {
    grid-column: 4 / -1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    gap: .5rem;

    .input {
      width: 100%;
      height: 30px;
    }
  }

  .status {
    grid-column: 4 / -1;
    grid-row: 3;
    display: flex;
    flex-direction: column;
    gap: .5rem;

    .input {
      width: 100%;
      height: 30px;
    }
  }

  .btn {
    grid-column: 3;
  }

  .save {
    grid-column: 4;
    grid-row: 6;
  }

  .cancel {
    grid-column: 5;
    grid-row: 6;
  }
}

.content-details {
  width: 100%;
  height: 520px;
  padding: 1.5rem 0 1.5rem 1.5rem;
  grid-column: 2 / -1;
  grid-row: 2 / -1;
} 

  .container {
    width: 100%;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(13, 1fr);
    align-items: start;
  
  
  .card-1 {
    width: 100%;
    grid-column: 1 / 10;
    grid-row: 1 / 12;
    border-radius: 1rem;
    padding: .5rem 1rem;
    background-color: #2C2B2F;
    box-shadow: 0 0 5px 1px #000101a4;
    display: grid;
    gap: 1rem;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;

    

    .title-box {
      height: 40px;
      grid-column: 1 / -1;
      grid-row: 1;
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 1fr 1fr;

      .title-1 {
        justify-self: center;
        grid-column: 2 / 5;
        grid-row: 1;
      }
    
      .text-1 {
        grid-column: 2 / 5;
        grid-row: 2;
        place-self: center;
        font-size: .8rem;
        font-weight: 400;
      }
    }

    .description-box {
      margin-top: 2rem;
      grid-column: 1 / -1;
      grid-row: 2;

      .description {
        width: 100%;
        height: 180px;
        border-radius: 1rem;
        padding: .5rem;
        box-shadow: 0 0 5px 1px #00010120;
      }
    }

    .manager {
      width: 280px;
      margin-left: 1rem;
      grid-column: 1;
      grid-row: 3;
    }

    .manager-opt {
      width: 100%;
      margin-left: .5rem;
    }

    .manager-name {
      max-width: 250px;
      margin-left: 1rem;
      grid-column: 1;
      grid-row: 3;
    }
    
    .buttons {
      width: 350px;
      grid-column: 2;
      grid-row: 3;
      display: flex;
      gap: 1rem;
      justify-self: end;
    }
  }

  .card-2 {
    min-width: 220px;
    grid-column: 10 / -1;
    grid-row: 1 / 7;
    border-radius: 1rem;
    padding: .5rem 1rem;
    background-color: #2C2B2F;
    box-shadow: 0 0 5px 1px #000101a4;

    .customer-opt {
      width: 100%;
    }
  }

  .card-3 {
    min-width: 220px;
    display: flex;
    flex-direction: column;
    grid-column: 10 / -1;
    grid-row: 7/-1;
    border-radius: 1rem;
    padding: .5rem 1rem;
    background-color: #2C2B2F;
    box-shadow: 0 0 5px 1px #000101a4;

    .service-opt, .status-opt {
      width: 100%;
    }
  }

  .title {
    justify-content: flex-start;
    font-size: 1rem;
    font-weight: 500;
  }

  .text {
    justify-content: flex-start;
    font-size: .8rem;
    font-weight: 400;
  }
  }

.project-mini {
  width: 100%;
  padding: .5em;
  border-radius: 1rem;;
  cursor: pointer;
  background-color: #2C2B2F;
  box-shadow: 0 0 5px 1px #000101a4;
  color: #fff;
  border: none;
  display: flex;
  gap: .3em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all .2s ease;

  &:hover {
    background-color: #303135;
  }
}

.employee-mini {
  width: 180px;
  height: 60px;
  padding: .5em;
  border-radius: 1rem;;
  cursor: pointer;
  background-color: #2C2B2F;
  box-shadow: 0 0 5px 1px #000101a4;
  color: #fff;
  border: none;
  display: flex;
  gap: .3em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all .2s ease;

  &:hover {
    background-color: #303135;
  }
}

.customer-mini {
  width: 180px;
  height: 60px;
  padding: .5em;
  border-radius: 1rem;;
  cursor: pointer;
  background-color: #2C2B2F;
  box-shadow: 0 0 5px 1px #000101a4;
  color: #fff;
  border: none;
  display: flex;
  gap: .3em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all .2s ease;

  &:hover {
    background-color: #303135;
  }

  .customer-name {
    font-size: .8rem;
    font-weight: 600;
  }

  .phonenumber {
    font-size: .7rem;
    font-weight: 400;
  }

  .email {
    font-size: .7rem;
    font-weight: 400;
  }
}

.ongoing {
  display: flex;
  gap: .7rem;
  flex-direction: column;

  .title {
    background-color: #43b6eb9c;
    box-shadow: 0 0 5px 1px #01263877;
  }
}

.not-started {
  display: flex;
  gap: .7rem;
  flex-direction: column;

  .title {
    background-color: #f1d501b0;
    box-shadow: 0 0 5px 1px #01263877;
  }
}

.completed {
  display: flex;
  gap: .7rem;
  flex-direction: column;

  .title {
    background-color: #02a543be;
    box-shadow: 0 0 5px 1px #01263877;
  }
}

.container-admin {
  width: 100%;
  height: 640px;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  
  .card {
    width: 100%;
    padding: .8rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: .5rem;
    background-color: #2C2B2F;
    box-shadow: 0 0 5px 1px #000101a4;
  }

  .input-label {
    font-size: .9rem;
  }
 
  .btn.save {
    width: 100%;
  }

  .customer {
    height: 300px;
    grid-column: 1;
    grid-row: 1;
  }

  .manager {
    height: 235px;
    grid-column: 2;
    grid-row: 1;
  }

  .service {
    height: 300px;
    grid-column: 1;
    grid-row: 2;
  }

  .status {
    height: 165px;
    grid-column: 2;
    grid-row: 2;
  }

  .role {
    height: 170px;
    grid-column: 3;
    grid-row: 1;
  }
}